
/*Heading*/

Header {
 background: url(../img/truck%201.jpg) no-repeat;
    background-position: center;
    background-width: auto; 
    height: 500px;
    display: block;

 
}
/*Navigation*/

li {
display:inline-block;
    background: url(../img/truck%201.jpg);
    width: auto;
}

a:link {
font-family: 'Trade Winds', cursive;
    font-size: 26px;
    text-decoration: none;
    padding: 200px 20px 0 20px;
    color:rgb(118, 29, 34);
    text-align: left;

   
  
}

/*Links*/

h1 {
    font-family: 'Trade Winds', cursive;
    font-size: 80px;
    text-align: center;
      letter-spacing: .2em;
    margin: none;
    padding-top: 25px;
    padding-left: 15px;
}

/*Images*/
 

body{
background: rgb(78, 75, 90);
    
}

#container {
width: 100%;
}

p {
font-family: 'Orbitron', sans-serif;
}

blockquote {
text-align:left; 
}