
/*Heading*/

Header {
 background: url(../img/truck%201.jpg) no-repeat;
    background-position: center;
    background-width: auto; 
    height: 500px;
    display: block;
    margin-bottom: 20px;
position: relative;
 
}
/*Navigation*/

li {
display:inline-block;
    background: url(../img/truck%201.jpg);

}

a:link {
font-family: 'Trade Winds', cursive;
    font-size: 26px;
    text-decoration: none;
    padding: 200px 20px 0 20px;
    color:rgb(118, 29, 34);
    text-align: left;
}
a:hover{
     font-size: 35px;
    font: rgb(118, 29, 34);
    }
   


/*Links*/

h1 {
    font-family: 'Trade Winds', cursive;
    font-size: 80px;
    text-align: center;
      letter-spacing: .2em;
    margin: none;
    padding-top: 25px;
    padding-left: 15px;
}

h2 {
    font-family: 'Trade Winds', cursive;
    font-size: 35px;
    text-shadow:2px 2px #AA190E;
} 

/*Images*/
.third {
width: 500px;
}

body{
background: rgb(78, 75, 90);
    
}

.container {
width: 100%;
}
.second {
    padding-top: 30px;
}
/*Typography*/
p {
font-family: 'Orbitron', sans-serif;
   line-height: 2em;
}
.extreme {
    text-align: center;
     font-family: 'Trade Winds', cursive;
    font-size: 150px;
    color:#AA190E;
   position:absolute;
    padding-left: 260px;
    padding-bottom: 700px;
}
footer {
    font-family: 'Orbitron', sans-serif;
    text-align: right;
}

blockquote {
text-align:center;
    letter-spacing: 5px;
}